.data-sections {
  width: 100%;
  height: 100%;
}

.data-section:last-child {
  margin-bottom: 20px;
}

.data-section div.button-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.data-section div.button-wrapper button {
  width: 100%;
}
